### Operators:

1. Arithmetic operators
2. Relational operators or Comparison operators
3. Logical operators
4. Bitwise operators
5. Assignment operators
6. special operators

### Arithmetic operators

1. #### + - addition  ( applicable for string also ( concatenation ))
2. #### - - subtraction
3. #### * - multiplication
4. #### / - division operator ( return ony float)
5. #### % - modulo operator
6. #### // - floor division operator ( return int or float)
7. #### ** - exponent operator or power operator

In [12]:
print(3+4)
print(9-10)
print(3*9)
print(9.0/2.0)
print(9.7//2.2)
print(2+2j**(2+2j))

7
-1
27
4.5
4.0
(1.968288421154096-0.16992192170060885j)

In [4]:
'satish'+3

TypeError: can only concatenate str (not "int") to str

In [6]:
'satish '+ 'kumar'  ## both arguments should be string

'satish kumar'

In [7]:
'satis'*3

'satissatissatis'

In [16]:
10/0.0

ZeroDivisionError: float division by zero

In [25]:
0j**(3+7j)

ZeroDivisionError: 0.0 to a negative or complex power

####  Relational Operators:

####  > , >=, < , <=

In [2]:
a =  'Satya'
b = 'satya'

print(a > b)  # based on alphabetical order 'S'-unicode is less than unicode of 's'

False

In [3]:
a = 39
b = 30
if(a<b):
    print('a is lessthan b')
print('interrupt')               # indentation is very important
else:
    print('above is false')

SyntaxError: invalid syntax (<ipython-input-3-b4ed5e4700b4>, line 6)

In [4]:
a = 39
b = 30
if(a<b):
    print('a is lessthan b')
    print('interrupt')

In [5]:
a = 39
b = 30
if(a<b):
    print('a is lessthan b')
print('interrupt')

interrupt

In [6]:
10<20<30  # chaining of relational operators

True

###  Equality operator:

### == , !=

* we can apply for any type even for incompatible tyes also

In [11]:
1==2-1==3-2

True

In [8]:
'sat'=='sat'

True

In [10]:
10=='sat'  #if compatibility is not there it will never throw error, it returns false

False

In [12]:
10 == 10.0

True

In [14]:
1==True # boolean is compatible with int ( internally it is int)

True

###  Logical operators:
### for boolean: ( result is boolean)

* and -> if both arguments are true then only true
* or -> if atleast one argument is true then true
* not 

### For non-boolean types: ( result is need not to be boolean)

* 0 means false
* non-zero means true
* empty string -- false

#### x and y

** if x evalutes to false then result is x otherwise return y

In [21]:
10 and 0

0

In [16]:
0 and 10

0

#### x or y

** if x evalutes to true return x otherwise y

In [17]:
10 or 20

10

In [18]:
0 or 20

20

In [19]:
not 10

False

In [22]:
 10 or 10/0

10

### Bitwise operator:

* &  ( if both bits are 1 then only 1 otherwise 0)
* |  ( if alteast one bit is 1 then 1 otherwise 0)
* ^  ( x -or) (if both bits are different then 1 otherwise 0 )
* ~  ( bitwise complement operator) ( 1--> 0 and 0 --> 1)
* << ( bitwise left shift )
#####  >> ( bitwise right shift )
* 

** applicable only for int and boolean

In [23]:
4&5

4

In [24]:
4|5

5

In [25]:
4^5

1

~4  

4 ==> 0 000000000000000000....100  ( positive number)

* first bit represent sign ( 0 means +ve and 1 means -ve )
* positve numbers are directly represented in memory but -ve numbers are
  represented in 2's complements form
  
* 4 ==> 0                     0 00000000000000000...100  ( positive number) 
* on ~ 4 it is converted into 1 11111111111111111....011
*                             1 00000000000000000....100 ( and add 1 )
                              1 000000000000000000000001
                              1 000000000000000000000101  (-5)

In [29]:
~True

-2

 #### shift operators check google (13 -v)
 
* right shift
* 10>>2 
* left hand side vacant cells sign bit 
* +ve numbers === > 0
* -ve numbers ====> 1

* left shift 
* right side cells fill with 0's

####  Assignment operators:

In [30]:
a,b,c= 10,20,30

####  Compound assignment:

* +=
* -=
* *=
* /=
* %=
* //=
* **=
* &=
* |=
* ^=
#####  >>=
* <<=

In [33]:
x =10
x+=10 # compound assignment 
x

20

In [37]:
x++  # in python increment and decrement operators are available

SyntaxError: invalid syntax (<ipython-input-37-42cce139b7c5>, line 1)

In [39]:
++x  # +(+x) --+20

20

In [40]:
--x

20

####  Ternary operator:

* x = firstvalue if condition else secondValue

In [42]:
x = 30 if 10>20 else 40
print(x)

40

In [45]:
x = 10 if 20<15 else 40 if 50>60 else 70   # nesting of conditional operator
print(x)

70

#### Special operators:

* Identity opertors - address comparison  ( is )
* Membership operators - is member or not ( in )

In [46]:
a = 10 
b = 10
a is b

True

In [48]:
a = 2;b=5
a is not b

True

In [51]:
l =[1,2]
m =[1,2]

print(id(l));print(id(m))  # both are diff

print(l is m)  # address comparsion
print(l == m)  # content comparsion

2603437164808
2603437164744
False
True

In [52]:
l =[1,2,3]
print(2 in l)

True

In [54]:
s = 'hi this is satish'
print( 'i' in s)

True

####  operator precedence:

* ()
#### **
* ~
* *,/,%,//
* +,-
* <<,>>
* &
* ^
* |
#### >,>=,<,<=,==,!=
* =,+=,-=,*=
* is, is not
* in , not in
* not 
* and
* or