####  miscellaneous functions used for strings:

* lstrip()  -remove space only at begining ( left hand side )
* rstrip() - remove space only at end (right hand side)
* strip() - remove at begin and end
* find(substring),find(sub,begin,end)
* rfind - find from right
* index(element) 
* rindex(element)
* count(substring)
* count(sub,begin,end)
* replace(old,new)
* split(' ')
* join()
* upper()
* lower()
* swapcase()
* title()
* capitalize()
* startswith('sub')
* endswith('sub')
* isalpha()
* sorted()
* isdigit()
* chr(unicode) -chr(65) -A
* ord(char)  - ord('A') -65

In [1]:
s = 'sama satish kumar'

In [4]:
s.find('am')

1

In [10]:
s.find('a',4,9)

6

In [11]:
s.rfind('a')

15

In [12]:
s.index('r')

16

In [13]:
s.rindex('a')

15

In [14]:
s.count('a')

4

In [15]:
s.count('a',6)

2

In [17]:
s=s.replace('kumar','krishna')
s

'sama satish krishna'

In [20]:
l=s.split(' ')  # split is related to string while sep is using while printing
l

['sama', 'satish', 'krishna']

In [23]:
k = s.split(' ',1);k  # from L -- R

['sama', 'satish krishna']

In [24]:
k= s.rsplit(' ',1);k  # from R  --L

['sama satish', 'krishna']

In [27]:
l = ['hi ','this ','is ','satish']
s=''.join(l)  # join with ''
print(s)
s = '-'.join(l) # join with '-'
print(s)

hi this is satish
hi -this -is -satish

In [31]:
s = 'lower secondword thirdword'
print(s.upper())
print(s.lower())
print(s.title())   # for every word
print(s.swapcase())
print(s.capitalize())  # only first word

LOWER SECONDWORD THIRDWORD
lower secondword thirdword
Lower Secondword Thirdword
LOWER SECONDWORD THIRDWORD
Lower secondword thirdword

In [32]:
print(s.startswith('lo'))

True

In [33]:
print(s.endswith('rd'))

True

In [34]:
l = sorted(s)
l

[' ',
 ' ',
 'c',
 'd',
 'd',
 'd',
 'd',
 'e',
 'e',
 'h',
 'i',
 'l',
 'n',
 'o',
 'o',
 'o',
 'o',
 'r',
 'r',
 'r',
 'r',
 's',
 't',
 'w',
 'w',
 'w']

In [36]:
chr(65)

'A'

In [38]:
ord('A')

65